.search-form {
    display: flex;
    padding: 0.4rem 1.3rem;
    border-radius: 0.7rem;
    background-color: var(--clr-white);
    border: 0.19rem solid var(--clr-borders);
    margin: 1rem 28.5rem 1rem;
    width: 25%;
}

.search-input{
    border: none;
    outline: none;
    color: var(--clr-light-gray);
    transition: .5s;
    font-family: var(--ff-secondary);
}

.search-input:focus {
    color: var(--clr-blue);
    transition: .5s;
    cursor: auto;
}

.search-btn{
    border: none;
    background-color: var(--clr-white);
}

.form-items{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: .5rem 0;
    align-items: center;
}

/*Log In and Sign Up*/
.form-input-container input{
    color: var(--clr-white);
    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: .1rem solid var(--clr-white);
    border-radius: 2rem;
    padding-left: 1rem;
}

.form-input-container input:-webkit-autofill {
    background-color: transparent; 
    border: .1rem solid var(--clr-white);
    color: var(--clr-white); 
}

.form-input-container input::placeholder{
    color: var(--clr-white);
}

.remember-me-input{
    margin: 0 .4rem
}

@media (max-width: 860.98px){ 
    .search-form{
        width: 100%;
    }
}